#fh5co-header-section {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-decoration: none;
    /* background-color: rgba(255, 255, 255, 0.5) !important */
    background: rgba(0, 0, 0, 0.7);
  }
  
  .nav-header {
    margin-top: 40px;
    position: relative;
    float: left;
    width: 100%;
    text-decoration: none;
  }
  
  #fh5co-logo {
    z-index: 2;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 900;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
  }
  #fh5co-logo a {
    position: relative;
  
  }
  #fh5co-logo a:after {
    position: absolute;
    content: '';
    top: -5px;
    left: -9px;
    background: #DA1212;
    width: 10px;
    height: 10px;
    text-decoration: none;
  
  }
  #fh5co-logo span {
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-decoration: none;
   
  }
  @media screen and (max-width: 768px) {
    #fh5co-logo {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  #fh5co-logo a {
    color: #fff;
   
  }
  #fh5co-logo a:hover, #fh5co-logo a:focus {
    color: #fff !important;
   
  }
  

 
  #fh5co-menu-wrap{
    z-index: 2;
margin-top: 5%;

  }
  
  /* @media screen and (max-width: 768px) {
    #fh5co-menu-wrap {
      display:;
    }
  }
   */
   .sf-menu {
    /* position: relative; 
   z-index: 2;
    display: block;
   float: right; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
 list-style: none;
 text-decoration: none;
 color: white;
 }
 .sf-menu ul {
  box-shadow: none;
  /* border: transparent; */
  min-width: 12em;
  *width: 12em;
}

.sf-menu a {
  color: rgba(255, 255, 255, 0.5);
  padding: 0.75em 1em !important;
  font-weight: normal;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 18px;
  border-bottom: none !important;
  font-weight: 600;
}
.sf-menu a:hover, .sf-menu a:focus {
  color: #fff !important;
}

.sf-menu li.active a:hover, .sf-menu li.active a:focus {
  color: #fff;
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  padding: 0.25em 1em !important;
  letter-spacing: 1px;
}

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  color: #fff;
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

.sf-menu ul li {
  background: transparent;
}
 #fh5co-primary-menu > li > ul li.active > a {
   color: #4CB648 !important;
 }

 #fh5co-primary-menu > li > ul li {
   position: relative;
 }

 /* #fh5co-menu-wrap {
   position: relative;
   z-index: 2;
   display: block;
   float: right;
 }
  */
/* Superfish Override Menu */
/* .sf-menu {
   margin: 0 !important;
 }
 
 .sf-menu {
   float: right;
 }
 
 .sf-menu ul {
   box-shadow: none;
   border: transparent;
   min-width: 12em;
   *width: 12em;
 }
 
 .sf-menu a {
   color: rgba(255, 255, 255, 0.5);
   padding: 0.75em 1em !important;
   font-weight: normal;
   border-left: none;
   border-top: none;
   border-top: none;
   text-decoration: none;
   zoom: 1;
   font-size: 18px;
   border-bottom: none !important;
   font-weight: 600;
 }
 .sf-menu a:hover, .sf-menu a:focus {
   color: #fff !important;
 }
 
 .sf-menu li.active a:hover, .sf-menu li.active a:focus {
   color: #fff;
 }
 
 .sf-menu li,
 .sf-menu ul li,
 .sf-menu ul ul li,
 .sf-menu li:hover,
 .sf-menu li.sfHover {
   background: transparent;
 }
 
 .sf-menu ul li a,
 .sf-menu ul ul li a {
   text-transform: none;
   padding: 0.25em 1em !important;
   letter-spacing: 1px;
 }
 
 .sf-menu li:hover a,
 .sf-menu li.sfHover a,
 .sf-menu ul li:hover a,
 .sf-menu ul li.sfHover a,
 .sf-menu li.active a {
   color: #fff;
 }
 
 .sf-menu ul li:hover,
 .sf-menu ul li.sfHover {
   background: transparent;
 }
 
 .sf-menu ul li {
   background: transparent;
 }
  */